<div class="form-horizontal">
    <h3>Create a new RecipeIngredient</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/RecipeIngredients/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for RecipeIngredients</h3>
    <form id="RecipeIngredientSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="amount" class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-10">
            <input id="amount" name="amount" class="form-control" type="text" ng-model="search.amount" placeholder="Enter the RecipeIngredient Amount"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="amountType" class="col-sm-2 control-label">Amount Type</label>
        <div class="col-sm-10">
            <input id="amountType" name="amountType" class="form-control" type="text" ng-model="search.amountType" placeholder="Enter the RecipeIngredient Amount Type"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="ingredient" class="col-sm-2 control-label">Ingredient</label>
        <div class="col-sm-10">
            <select id="ingredient" name="ingredient" class="form-control" ng-model="search.ingredient" ng-options="i as i.description for i in ingredientList">
                <option value="">Choose a Ingredient</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="recipe" class="col-sm-2 control-label">Recipe</label>
        <div class="col-sm-10">
            <select id="recipe" name="recipe" class="form-control" ng-model="search.recipe" ng-options="r as r.description for r in recipeList">
                <option value="">Choose a Recipe</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Amount Type</th>
                    <th>Ingredient</th>
                    <th>Recipe</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/RecipeIngredients/edit/{{result.recipeIngredientsId}}">{{result.amount}}</a></td>
                    <td><a href="#/RecipeIngredients/edit/{{result.recipeIngredientsId}}">{{result.amountType}}</a></td>
                        <td><a href="#/RecipeIngredients/edit/{{result.recipeIngredientsId}}">{{result.ingredient.description}}</a></td>
                        <td><a href="#/RecipeIngredients/edit/{{result.recipeIngredientsId}}">{{result.recipe.description}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>